body{
  margin: 0;
  color:white;
  font-family: arial;
}

.container{
  width:70%;
  margin: auto;
  margin-left: 13%;
  margin-right: 17%;
}

#header{
  margin: 0;
  background-color: coral;
  height: 75px;
}

#header h1{
  margin:0;
  padding-top: 10px;
  font-size: 40px;
}

#nav-bar{
  margin:0;
  background-color: black;
  height: 58px;
}

#nav-bar ul{
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  word-spacing:0.6em;
}

#nav-bar li{
  display:inline;
  font-size: 17px;
}

#nav-bar a{
  color:white;
  text-decoration: none;
}

#nav-bar a:hover{
  color: orange;
}

#main{
  background-image: url('../../../Web Dev Udemy/Notes/csscrashcourse/mywebsite/images/showcase.jpg');
  background-position: center right;
  min-height:350px;
}

#main p{
  margin: 0;
  font-size: 63px;
  padding-top: 28px;
  line-height: 80px;
  text-align: center;
}

.left-bar{
  float:left;
  width: 60%;
  padding-right: 50px;
  box-sizing: border-box;
  color:#5f6769;
  font-weight: 900;
}

.left-bar hr{
  border-width: 0;
}


.left-bar h2{
  font-size: 38px;
}

.left-bar p{
  line-height: 1.5em;
  font-size: 22px;
}

.right-bar{
  float:right;
  width: 40%;
  background-color: black;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 23px;
  line-height: 1.5em;
}

#footer {
  clear:both;
  background-color: black;
  text-align: center;
  height: 100px;
  font-size: 19px;
  padding-top: 18px;
}



@media (max-width:738px){

  #main{
    padding-bottom: 20px;
  }

  .left-bar{
    float:none;
    width: 100%;
  }

  .left-bar hr{
    border-bottom: 4px dotted grey;
    width: 20%;
  }

  .right-bar{
    float:none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
